@charset "UTF-8";
/*---------------------------------
  SP と PC のブレイクポイントを指定
---------------------------------*/
/*-------------------------------------
  レスポンシブにサイズを可変させる魔法の計算式
--------------------------------------*/
/*
      関数名：vw
      引数名：＄viewport
      計算式：10 / 基準画面幅（ $pc-design-size もしくは $sp-design-size ）* 100 

    */
html {
  font-size: 0.5787037037vw;
}
@media (max-width: 1024px) {
  html {
    font-size: 2.7777777778vw;
  }
}

body {
  font-size: 1.6rem;
}

/*---------------------------------
  表示・非表示に設定
---------------------------------*/
.pc {
  display: block !important;
}
@media (max-width: 1024px) {
  .pc {
    display: none !important;
  }
}

.sp {
  display: none !important;
}
@media (max-width: 1024px) {
  .sp {
    display: block !important;
  }
}

/*---------------------------------
  @mixin 画面幅
---------------------------------*/
/*---------------------------------
  color
---------------------------------*/
/*---------------------------------
  font
---------------------------------*/
/*---------------------------------
  テキストスタイル
---------------------------------*/
/*---------------------------------
  PC用 レイアウト 
---------------------------------*/
* {
  background-color: rgba(0, 0, 0, 0);
}

body {
  cursor: none;
  width: 100%; /*ページ全体の幅は100%と指定する*/
  height: unset;
  text-align: left; /*ページ全体を中央揃えにする*/
  display: flex; /*ページ全体のレイアウト*/
  flex-direction: row-reverse;
  max-width: 160rem;
  width: 124rem;
  margin: 0 auto;
  overflow-y: scroll;
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu　Gothic", "Meiryo", sans-serif;
}
@media (max-width: 1024px) {
  body {
    width: 100%;
    margin: 0 auto;
  }
}
body main {
  width: 70%;
  margin: 0 auto;
  border-right: 0.1rem solid black;
}
@media (max-width: 1024px) {
  body main {
    max-width: 100vw;
    width: 100%;
  }
}
body main section {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1rem;
  height: 80rem;
  position: relative;
  display: flex;
  flex-direction: row;
  padding-top: 10rem;
  padding-bottom: 10rem;
}
@media (max-width: 1024px) {
  body main section {
    width: 80%;
    overflow-x: hidden;
  }
}

/*---------------------------------
  テキストスタイル
---------------------------------*/
/*---------------------------------
  SP用 レイアウト 
---------------------------------*/
@media (max-width: 1024px) {
  body {
    height: unset;
    max-width: 160rem;
    width: 124rem;
    margin: 0 auto;
    overflow-y: scroll;
  }
}
@media (max-width: 1024px) and (max-width: 1024px) {
  body {
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 1024px) {
  body main {
    overflow: hidden;
    width: 100%;
  }
  body main .section {
    width: 80%;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-bottom: 10rem;
  }
  body main .section .inner {
    width: 80%;
    margin: 0 auto;
    width: unset;
    height: 100%;
    max-width: 100vw;
  }
}
@media (max-width: 1024px) and (max-width: 1024px) {
  body main .section .inner {
    width: 80%;
    overflow-x: hidden;
  }
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
*::-webkit-scrollbar {
  display: none;
}

html {
  background-repeat: no-repeat;
  /*---------------------------------
    font-size 
  ---------------------------------*/
}
html img {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
html a {
  text-decoration: none;
  width: 100%;
  height: auto;
  cursor: pointer;
  word-break: break-all;
  color: black;
}
html ul {
  padding-inline-start: 0rem;
}
html ul li {
  list-style: none;
}
html p,
html h4,
html h5,
html h6 {
  font-size: 1.6rem;
  margin-top: 0rem;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
html h1,
html h2,
html h3 {
  font-weight: unset;
  letter-spacing: 0rem;
}
html h1 {
  font-size: 3.2rem;
  line-height: 1.5em;
  letter-spacing: 0.04rem;
}
@media (max-width: 1024px) {
  html h1 {
    font-size: 2.4rem;
    letter-spacing: 0.04rem;
  }
}
html h2 {
  font-size: 2.8rem;
  line-height: 1.5em;
  margin-top: 6rem;
  letter-spacing: 0.04rem;
}
@media (max-width: 1024px) {
  html h2 {
    font-size: 2rem;
    letter-spacing: 0.04rem;
  }
}
html h3 {
  font-size: 2rem;
  line-height: 1.5em;
  margin-top: 0rem;
  letter-spacing: 0.04rem;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
@media (max-width: 1024px) {
  html h3 {
    font-size: 1.8rem;
    letter-spacing: 0.04rem;
  }
}
html h4 {
  font-size: 1.6rem;
  line-height: 1.3em;
  margin-top: 1rem;
  letter-spacing: 0.04rem;
}
@media (max-width: 1024px) {
  html h4 {
    font-size: 1.6rem;
    letter-spacing: 0.04rem;
  }
}
html time {
  font-size: 1.5rem;
  letter-spacing: 0.04rem;
}
html input {
  border-color: unset;
  border-width: unset;
  background-color: unset;
  border: none;
}
html input:focus {
  outline: unset;
}
html textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  resize: none;
  padding: 0;
  border: 0;
  outline: none;
  background: transparent;
}
html table {
  border-spacing: 0;
}
html table th {
  font-weight: unset;
}
html .hover {
  transition: all 0.3s;
}
html .hover:hover {
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}
html ul {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.slider {
  width: 100%;
  /* ①スライダー全体の幅を指定 */
  margin: 0 auto;
  position: relative;
  z-index: 1;
  height: auto;
}
.slider .slider-item {
  overflow: visible;
  width: 100%;
  /*各スライダー全体の横幅を画面の高さいっぱい（100%）にする*/
  height: auto;
}

/*矢印の設定*/
.slick-prev,
.slick-next {
  display: none !important;
  position: absolute;
  z-index: 3;
  top: 46%;
  cursor: pointer;
  /*マウスカーソルを指マークに*/
  outline: none;
  /*クリックをしたら出てくる枠線を消す*/
  /*矢印の色*/
  height: 8%;
  width: 8%;
}
.slick-prev img,
.slick-next img {
  width: 100%;
}
@media (max-width: 1024px) {
  .slick-prev,
.slick-next {
    display: block !important;
    top: 36.5rem;
    width: 4rem;
  }
}

.slick-prev {
  /*戻る矢印の位置と形状*/
  left: -12%;
}
@media (max-width: 1024px) {
  .slick-prev {
    left: 15%;
  }
}

.slick-next {
  /*次へ矢印の位置と形状*/
  right: -12%;
}
@media (max-width: 1024px) {
  .slick-next {
    right: 15%;
  }
}

/*ドットナビゲーションの設定*/
.slick-dots {
  display: none !important;
  position: relative;
  z-index: 3;
  text-align: center;
  margin: 2.3rem 0 0 0;
  /*ドットの位置*/
}
@media (max-width: 1024px) {
  .slick-dots {
    display: block !important;
    margin: 0;
    top: -3rem;
  }
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots button {
  color: transparent;
  outline: none;
  width: 8px;
  /*ドットボタンのサイズ*/
  height: 8px;
  /*ドットボタンのサイズ*/
  display: block;
  border-radius: 50%;
  background: rgb(177, 177, 177);
  /*ドットボタンの色*/
  border: none;
  padding: 2px;
}

.slick-dots .slick-active button {
  background: #333;
  /*ドットボタンの現在地表示の色*/
}

#g-nav {
  position: fixed;
  z-index: 999;
  top: 0;
  left: -120%;
  width: 100%;
  height: 100vh;
  padding: 5rem 0rem 0;
  background: rgb(255, 255, 255);
  transition: all 0.6s; /*動き*/
}

#g-nav.panelactive {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 5rem 0rem 0;
  background: rgb(255, 255, 255);
  transition: all 0.6s; /*動き*/
}

#g-nav.panelactive #g-nav-list {
  overflow: auto; /*ナビの数が増えた場合縦スクロール*/
  /*ナビのリスとを縦中央揃え*/
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 4rem;
}

.SPHeader {
  position: fixed;
  z-index: 10000;
  width: 100%;
  /*========= Open ボタンのためのCSS ===============*/
  /*========= HedderSP Nav のためのCSS ===============*/
}
.SPHeader__Inner {
  width: 100%;
  margin: 0 auto;
}
.SPHeader__openbtn {
  position: fixed;
  right: 10%;
  top: 4rem;
  z-index: 9999;
}
.SPHeader__openbtn .humbarger {
  position: absolute;
  right: 0rem;
  top: 0rem;
  display: block;
  z-index: 9999;
  width: 5rem;
  height: 5rem;
  background-image: url(../img/hiyori-round.gif);
  background-size: 100%;
}
.SPHeader__openbtn.active .humbarger {
  background-image: none;
  border: 0.2rem solid rgb(37, 37, 37);
  border-radius: 50%;
}
.SPHeader__openbtn p {
  font-family: "A1 Gothic R";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 250%;
  /* or 25px */
  letter-spacing: 0.04em;
  font-family: "Hiragino Kaku Gothic Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 3;
  color: rgb(37, 37, 37);
}
.SPHeader__openbtn.active p {
  opacity: 0;
}
.SPHeader__openbtn span {
  width: 19px;
  height: 2px;
  background: rgb(37, 37, 37);
  display: block;
  position: absolute;
  top: 2.4rem;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 9999;
  transition: 0.2s;
}
.SPHeader__openbtn span.opacity0 {
  opacity: 0;
}
.SPHeader__openbtn span.first {
  top: 1.9rem;
}
.SPHeader__openbtn.active span.first {
  opacity: 1;
  transform: rotate(-45deg);
  top: 2.3rem;
  width: 2.5rem;
  transition: 0.3s cubic-bezier(0.56, 1, 0.86, 1.39);
}
.SPHeader__openbtn.active span.second {
  opacity: 0;
  transition: 0.2s;
}
.SPHeader__openbtn span.third {
  top: 2.9rem;
  width: 1.4rem;
  margin-left: 1.1rem;
}
.SPHeader__openbtn.active span.third {
  opacity: 1;
  width: 2.5rem;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 2.3rem;
  transition: 0.3s cubic-bezier(0.56, 1, 0.86, 1.39);
}
.SPHeader__nav {
  /*ナビゲーション天地中央揃え*/
  position: relative;
  width: 80%;
  margin: 0 auto;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* ④ リストアイテムのレイアウト設定*/
}
.SPHeader__nav li {
  list-style: none;
  text-align: center;
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.SPHeader__nav li a {
  color: rgb(37, 37, 37);
  text-decoration: none;
  padding: 0.5rem;
  text-align: left;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}
.SPHeader__nav li a span {
  font-family: "Hiragino Kaku Gothic Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 250%;
  /* identical to box height, or 40px */
  letter-spacing: 0.04em;
}
.SPHeader__Work-nav {
  width: min-content;
  padding-left: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.SPHeader__Work-nav li {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.SPHeader__Work-nav li .bar {
  width: 1.6rem;
  height: 0.1rem;
  background-color: black;
  margin-right: 1.6rem;
}
.SPHeader__Work-nav li a span {
  font-family: "A1 Gothic R";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 30px;
  /* identical to box height */
  letter-spacing: 0.04em;
  white-space: nowrap;
}
.SPHeader__Contact-nav {
  display: flex;
  flex-direction: row;
  margin-left: 4rem;
  margin-top: 2rem;
}
.SPHeader__Contact-nav li {
  width: 5rem;
  margin-right: 2rem;
}
.SPHeader__Contact-nav li a {
  padding: 0;
}
.SPHeader__Contact-nav li a span {
  line-height: 1.3rem;
}

.midnightHeader.default h1 {
  color: #fff;
}

.HeaderPC {
  max-width: 160rem;
  width: 124rem;
  margin: 0 auto;
  overflow-y: scroll;
  width: 30%;
  height: 100%;
  position: relative;
  right: 0;
  z-index: 100;
}
@media (max-width: 1024px) {
  .HeaderPC {
    width: 100%;
    margin: 0 auto;
  }
}
.HeaderPC__Inner {
  height: 100%;
  padding-top: 3rem;
  padding-left: 7rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.HeaderPC__title {
  display: flex;
  height: 10%;
  flex-direction: column;
  margin-bottom: 4rem;
}
.HeaderPC__title__title-copy {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.HeaderPC__title__title-copy p {
  margin: 0 0 0 1rem;
  font-family: "Shuei MaruGo L";
  font-style: normal;
  font-size: 1.8rem;
  line-height: 250%;
  font-size: 1.8rem;
}
.HeaderPC__title__logo {
  margin-right: 2rem;
  width: 5rem;
  margin-right: 1rem;
}
.HeaderPC__title__logo a {
  display: block;
  padding: 0rem;
  line-height: 4rem;
}
.HeaderPC__title p {
  font-family: "Shuei MaruGo L";
  font-style: normal;
  font-size: 1.6rem;
  line-height: 200%;
  /* identical to box height, or 32px */
  letter-spacing: 0.04em;
  margin-top: 1rem;
  font-size: 1.7rem;
}
.HeaderPC__nav {
  display: flex;
  flex-direction: column;
  height: 80%;
}
.HeaderPC__nav-item {
  box-sizing: border-box;
  margin-right: 2rem;
  padding-bottom: 0.6rem;
}
.HeaderPC__nav-item a {
  display: block;
  padding: 1rem;
  width: 100%;
  line-height: 2rem;
  text-align: left;
}
.HeaderPC__nav-item a span {
  font-family: "Hiragino Kaku Gothic Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  /* identical to box height, or 40px */
  letter-spacing: 0.04em;
}
.HeaderPC__Work-nav {
  margin-left: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.HeaderPC__Work-nav li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}
.HeaderPC__Work-nav li a {
  padding-bottom: 1.2rem;
}
.HeaderPC__Work-nav li a span {
  font-family: "Shuei MaruGo L";
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1rem;
}
.HeaderPC__Work-nav li .bar {
  width: 1.6rem;
  height: 0.1rem;
  background-color: black;
  margin-right: 1.6rem;
}
.HeaderPC__Contact-nav {
  display: flex;
  flex-direction: row;
  margin-left: 4rem;
  margin-top: 2rem;
}
.HeaderPC__Contact-nav li {
  width: 5rem;
  margin-right: 2rem;
}
.HeaderPC__Contact-nav li a {
  padding: 0;
}
.HeaderPC__Contact-nav li a span {
  line-height: 1.3rem;
}

.FooterPC {
  max-width: 160rem;
  width: 124rem;
  margin: 0 auto;
  overflow-y: scroll;
  width: 100%;
  z-index: 100;
}
@media (max-width: 1024px) {
  .FooterPC {
    width: 100%;
    margin: 0 auto;
  }
}
.FooterPC__Inner {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  padding: 0 2%;
  display: flex;
}
@media (max-width: 1024px) {
  .FooterPC__Inner {
    width: 80%;
    overflow-x: hidden;
  }
}
.FooterPC__logo {
  margin-right: 2rem;
}
.FooterPC__logo a {
  display: block;
  padding: 1rem;
  line-height: 4rem;
}
.FooterPC__NavList {
  display: flex;
}
.FooterPC__nav {
  display: flex;
}
.FooterPC__nav-item {
  box-sizing: border-box;
  margin-right: 2rem;
}
.FooterPC__nav-item a {
  display: block;
  padding: 1rem;
  width: 100%;
  line-height: 4rem;
  text-align: center;
}

.FooterPC {
  height: auto;
  padding: 2rem;
}
.FooterPC__Inner {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.FooterPC__logo {
  width: 22rem;
}
.FooterPC__NavList {
  display: flex;
  flex-direction: row;
}
.FooterPC__nav {
  flex-direction: row;
}
.FooterPC__nav-item {
  margin-right: 2rem;
}
.FooterPC__nav-item a {
  padding: 1rem;
  line-height: 4rem;
}
.FooterPC__nav-item a span {
  font-family: "Shuei MaruGo L";
  font-style: normal;
  font-size: 1.5rem;
}
.FooterPC__nav-item__CopyRight {
  font-family: "Hiragino Kaku Gothic Pro";
  font-style: normal;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 180%;
  /* identical to box height, or 22px */
  letter-spacing: 0.04em;
}

@media (max-width: 1024px) {
  .FooterSP {
    max-width: 160rem;
    width: 124rem;
    margin: 0 auto;
    overflow-y: scroll;
    width: 100%;
    z-index: 100;
  }
}
@media (max-width: 1024px) and (max-width: 1024px) {
  .FooterSP {
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 1024px) {
  .FooterSP__Inner {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    padding: 0 2%;
    display: flex;
  }
}
@media (max-width: 1024px) and (max-width: 1024px) {
  .FooterSP__Inner {
    width: 80%;
    overflow-x: hidden;
  }
}
@media (max-width: 1024px) {
  .FooterSP__logo {
    margin-right: 2rem;
  }
  .FooterSP__logo a {
    display: block;
    padding: 1rem;
    line-height: 4rem;
  }
}
@media (max-width: 1024px) {
  .FooterSP__NavList {
    display: flex;
  }
}
@media (max-width: 1024px) {
  .FooterSP__nav {
    display: flex;
  }
}
@media (max-width: 1024px) {
  .FooterSP__nav-item {
    box-sizing: border-box;
    margin-right: 2rem;
  }
  .FooterSP__nav-item a {
    display: block;
    padding: 1rem;
    width: 100%;
    line-height: 4rem;
    text-align: center;
  }
}
@media (max-width: 1024px) {
  .FooterSP {
    height: auto;
  }
  .FooterSP__Inner {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .FooterSP__logo {
    width: 22rem;
  }
  .FooterSP__NavList {
    display: flex;
    flex-direction: row;
  }
  .FooterSP__nav {
    flex-direction: column;
  }
  .FooterSP__nav-item {
    margin-right: 2rem;
  }
  .FooterSP__nav-item a {
    padding: 1rem;
    line-height: 4rem;
  }
  .FooterSP__nav-item a span {
    font-family: "A1 Gothic R";
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 30px;
    /* identical to box height */
    letter-spacing: 0.04em;
  }
  .FooterSP__CopyRight {
    font-family: "A1 Gothic L";
    font-style: normal;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 180%;
    /* identical to box height, or 22px */
    letter-spacing: 0.04em;
  }
}
a:hover {
  cursor: none;
}

#cursor {
  position: fixed;
  /*丸の大きさと色の指定*/
  background: rgba(255, 251, 0, 0.9);
  border-radius: 20px;
  width: 2rem;
  height: 2rem;
  margin: -2rem 0 0 -2rem; /*真ん中にくるようにマイナスマージンで調整*/
  z-index: 2; /*一番手前に来るように*/
  pointer-events: none; /*クリックできなくなるのを防ぐため。noneで対応*/
  opacity: 0;
}
#cursor.active {
  transform: scale(2.3);
  background: rgba(255, 251, 0, 0.9);
}

.bounce {
  animation-name: bounceAnime;
  animation-duration: 5s;
  animation-fill-mode: backwards;
  animation-delay: 0.1s;
  animation-iteration-count: infinite;
}

@keyframes bounceAnime {
  0%, 100% {
    transform: scale(1);
  }
  6% {
    transform: scale(1.15, 0.9);
  }
  12% {
    transform: scale(1);
    transform: translateY(-3vh);
  }
  18% {
    transform: translateY(3vh);
    transform: scale(0.96, 1.04);
  }
  20% {
    transform: scale(1);
  }
  26% {
    transform: scale(1.15, 0.9);
  }
  32% {
    transform: scale(1);
    transform: translateY(-3vh);
  }
  38% {
    transform: translateY(3vh);
    transform: scale(0.96, 1.04);
  }
  40% {
    transform: scale(1);
  }
}
main.Top {
  width: 70%;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  main.Top {
    max-width: 100vw;
    width: 100%;
  }
}
main.Top .Title {
  border-bottom: 1px solid black;
  height: min-content;
}
main.Top .Title__Inner {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
main.Top .Title__copy p {
  font-family: "Shuei MaruGo L";
  font-style: normal;
  font-size: 1.8rem;
  line-height: 250%;
}
main.Top .Title__img {
  width: 24rem;
}
main.Top .Slider__Inner {
  display: flex;
  flex-direction: column;
}
main.Top .Slider__item {
  overflow: visible;
}
main.Top .Slider__item p {
  font-family: "Shuei MaruGo L";
  font-style: normal;
  font-size: 1.6rem;
  line-height: 200%;
  /* identical to box height, or 32px */
  letter-spacing: 0.04em;
  margin-bottom: 5.7rem;
}
@media (max-width: 1024px) {
  main.Top {
    width: 70%;
    margin: 0 auto;
  }
}
@media (max-width: 1024px) and (max-width: 1024px) {
  main.Top {
    max-width: 100vw;
    width: 100%;
  }
}
@media (max-width: 1024px) {
  main.Top .Title {
    border-bottom: none;
    height: min-content;
    padding-bottom: 4rem;
  }
  main.Top .Title__Inner {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: space-between;
  }
  main.Top .Title__top {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4rem;
  }
  main.Top .Title__top p:nth-child(1) {
    font-family: "Shuei MaruGo L";
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 250%;
  }
  main.Top .Title__top p:nth-child(2) {
    font-family: "Shuei MaruGo L";
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 250%;
    /* identical to box height, or 28px */
    letter-spacing: 0.06em;
    position: relative;
    right: 0.5rem;
    white-space: nowrap;
  }
  main.Top .Title__img {
    width: 13rem;
    margin-right: 2.1rem;
  }
  main.Top .Title__theme {
    display: flex;
    flex-direction: column;
  }
  main.Top .Title__copy p {
    font-family: "Shuei MaruGo L";
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 250%;
    /* identical to box height, or 28px */
    letter-spacing: 0.06em;
  }
}
@media (max-width: 1024px) {
  main.Top .Slider {
    width: 100%;
    padding-top: 0;
  }
  main.Top .Slider__Inner {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  main.Top .Slider__item a {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
  main.Top .Slider__item a p {
    font-family: "Shuei MaruGo L";
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 250%;
    /* identical to box height, or 28px */
    letter-spacing: 0.06em;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5.7rem;
    margin-top: 3rem;
    text-align: center;
  }
}
main.About {
  width: 70%;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  main.About {
    max-width: 100vw;
    width: 100%;
  }
}
main.About .Title {
  border-bottom: 1px solid black;
  height: min-content;
}
main.About .Title__Inner {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
main.About .Title__copy p {
  font-family: "Shuei MaruGo L";
  font-style: normal;
  font-size: 1.8rem;
  line-height: 250%;
}
main.About .Title__img {
  width: 24rem;
}
main.About .About {
  height: 140rem;
  padding-top: 5rem;
}
main.About .About .AboutTable {
  width: 100%;
}
main.About .About .AboutTable tr td {
  height: min-content;
  font-family: "A1 Gothic L";
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 200%;
  /* identical to box height, or 28px */
  letter-spacing: 0.04em;
  font-size: 1.6rem;
}
main.About .About .AboutTable tr td:nth-child(1) {
  width: 20%;
}
main.About .About .AboutTable tr td a span {
  color: rgb(0, 176, 199);
}

@media (max-width: 1024px) {
  main.About {
    width: 70%;
    margin: 0 auto;
  }
}
@media (max-width: 1024px) and (max-width: 1024px) {
  main.About {
    max-width: 100vw;
    width: 100%;
  }
}
@media (max-width: 1024px) {
  main.About .Title {
    border-bottom: 1px solid rgb(37, 37, 37);
    height: min-content;
    padding-bottom: 4rem;
  }
  main.About .Title__Inner {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: space-between;
  }
  main.About .Title__top {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4rem;
  }
  main.About .Title__top p:nth-child(1) {
    font-family: "Shuei MaruGo L";
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 250%;
  }
  main.About .Title__top p:nth-child(2) {
    font-family: "Shuei MaruGo L";
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 250%;
    /* identical to box height, or 28px */
    letter-spacing: 0.06em;
    position: relative;
    right: 0.5rem;
    white-space: nowrap;
  }
  main.About .Title__img {
    width: 13rem;
    margin-right: 2.1rem;
  }
  main.About .Title__theme {
    display: flex;
    flex-direction: column;
  }
  main.About .Title__copy p {
    font-family: "Shuei MaruGo L";
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 250%;
    /* identical to box height, or 28px */
    letter-spacing: 0.06em;
  }
}
@media (max-width: 1024px) {
  main.About .About {
    height: 140rem;
    padding-top: 5rem;
  }
  main.About .About .AboutTable {
    width: 100%;
  }
  main.About .About .AboutTable tr td {
    height: min-content;
    font-family: "A1 Gothic L";
    font-style: normal;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 180%;
    /* or 22px */
    letter-spacing: 0.04em;
    font-size: 1.15rem;
  }
  main.About .About .AboutTable tr td:nth-child(1) {
    width: 20%;
  }
  main.About .About .AboutTable tr td a span {
    color: rgb(0, 176, 199);
  }
}
main.Works {
  width: 70%;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  main.Works {
    max-width: 100vw;
    width: 100%;
  }
}
main.Works .WorksList {
  height: unset;
  display: flex;
  flex-direction: column;
}
main.Works .WorksList h2 {
  font-family: "Hiragino Kaku Gothic Pro";
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.04em;
  font-size: 2.4rem;
  line-height: 250%;
}
main.Works .WorksList__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
main.Works .WorksList__item {
  width: 45%;
  margin-bottom: 3rem;
}
main.Works .WorksList__item:nth-child(odd) {
  margin-right: 5%;
}
main.Works .WorksList__item:nth-child(even) {
  margin-left: 5%;
}
main.Works .WorksList__item p {
  margin-top: 3rem;
  text-align: center;
  font-family: "Shuei MaruGo L";
  font-style: normal;
  font-size: 1.6rem;
  line-height: 200%;
  /* identical to box height, or 32px */
  letter-spacing: 0.04em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

@media (max-width: 1024px) {
  main.Works {
    width: 70%;
    margin: 0 auto;
  }
}
@media (max-width: 1024px) and (max-width: 1024px) {
  main.Works {
    max-width: 100vw;
    width: 100%;
  }
}
@media (max-width: 1024px) {
  main.Works .WorksList {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  main.Works .WorksList h2 {
    font-family: "Hiragino Kaku Gothic Pro";
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 200%;
    /* or 26px */
    letter-spacing: 0.04em;
    margin: 0 auto;
    width: 80%;
  }
  main.Works .WorksList__list {
    display: flex;
    flex-direction: column;
    flex-wrap: none;
  }
  main.Works .WorksList__item {
    width: 100%;
    margin-bottom: 3rem;
  }
  main.Works .WorksList__item:nth-child(odd) {
    margin-right: 0%;
  }
  main.Works .WorksList__item:nth-child(even) {
    margin-left: 0%;
  }
  main.Works .WorksList__item p {
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem;
    text-align: center;
    font-family: "Shuei MaruGo L";
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 250%;
    /* identical to box height, or 28px */
    letter-spacing: 0.06em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}
main.Work {
  width: 70%;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  main.Work {
    max-width: 100vw;
    width: 100%;
  }
}
main.Work .Work-img {
  padding-bottom: 0;
  height: auto;
  display: flex;
  flex-direction: column;
}
main.Work .Work-img__img {
  margin-bottom: 5rem;
  width: 100%;
}
main.Work .Work-img__movie {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  overflow: hidden;
  margin-bottom: 5rem;
}
main.Work .Work-img__movie iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
main.Work .Work-detail {
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  height: unset;
}
main.Work .Work-detail__title h2 {
  font-family: "Hiragino Kaku Gothic Pro";
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.04em;
  font-size: 2.4rem;
  line-height: 250%;
}
main.Work .Work-detail__item {
  display: flex;
  flex-direction: column;
}
main.Work .Work-detail__heading {
  display: flex;
  flex-direction: row;
  align-items: center;
}
main.Work .Work-detail__heading h3 {
  font-family: "Shuei MaruGo L";
  font-style: normal;
  letter-spacing: 0.04em;
  font-size: 2rem;
  line-height: 0%;
}
main.Work .Work-detail__icon {
  width: 4rem;
  margin-right: 2rem;
}
main.Work .Work-detail__detail {
  padding-left: 1.9rem;
}
main.Work .Work-detail__detail-wrap {
  padding: 2rem 0 4rem 4rem;
  border-left: 1.5px solid rgb(37, 37, 37);
}
main.Work .Work-detail__detail-wrap p {
  font-family: "A1 Gothic L";
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 200%;
  /* identical to box height, or 28px */
  letter-spacing: 0.04em;
}
main.Work .Work-detail__detail-wrap p.Work-detail__sub-heading {
  font-family: "Shuei MaruGo L";
  font-style: normal;
  font-size: 1.6rem;
  line-height: 200%;
  /* identical to box height, or 32px */
  letter-spacing: 0.04em;
  font-family: "Shuei MaruGo L";
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
}
main.Work .Work-detail__detail-wrap.design-concept {
  padding-bottom: 10rem;
}
main.Work .Work-detail__more {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main.Work .Work-detail__more-btn {
  width: min-content;
  white-space: nowrap;
  font-size: 1.2rem;
  color: black;
  text-align: center;
  display: block;
  padding: 1rem 2rem 1rem;
  background: white;
  border-radius: 4rem;
  margin: 10vh auto;
  box-shadow: 0.4rem 0.4rem 1rem rgba(0, 0, 0, 0.15);
}
main.Work .Work-detail__color {
  padding-left: 4.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.8rem;
}
main.Work .Work-detail__color p {
  font-family: "A1 Gothic L";
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 200%;
  /* identical to box height, or 28px */
  letter-spacing: 0.04em;
}
main.Work .Work-detail__color-tip {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: rgb(227, 88, 155);
  margin-right: 1rem;
}
main.Work .Work-detail__font {
  padding-left: 7.8rem;
}
main.Work .Work-detail__font p {
  font-family: "A1 Gothic L";
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 200%;
  /* identical to box height, or 28px */
  letter-spacing: 0.04em;
  margin-bottom: 0.8rem;
}

@media (max-width: 1024px) {
  main.Work {
    width: 70%;
    margin: 0 auto;
    width: 100%;
  }
}
@media (max-width: 1024px) and (max-width: 1024px) {
  main.Work {
    max-width: 100vw;
    width: 100%;
  }
}
@media (max-width: 1024px) {
  main.Work .Work-img {
    padding-bottom: 0;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  main.Work .Work-img__img {
    margin-bottom: 5rem;
    width: 100%;
  }
  main.Work .Work-img__movie {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    overflow: hidden;
    margin-bottom: 5rem;
  }
  main.Work .Work-img__movie iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 1024px) {
  main.Work .Work-detail {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    height: min-content;
    width: 80%;
  }
  main.Work .Work-detail__title h2 {
    font-family: "Hiragino Kaku Gothic Pro";
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 200%;
    /* or 26px */
    letter-spacing: 0.04em;
    margin-bottom: 2rem;
  }
  main.Work .Work-detail__item {
    display: flex;
    flex-direction: column;
  }
  main.Work .Work-detail__heading {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  main.Work .Work-detail__heading h3 {
    font-family: "Shuei MaruGo L";
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 250%;
  }
  main.Work .Work-detail__icon {
    width: 3rem;
    margin-right: 1rem;
  }
  main.Work .Work-detail__detail {
    padding-left: 1.4rem;
  }
  main.Work .Work-detail__detail-wrap {
    padding: 2rem 0rem 2rem 2.7rem;
    border-left: 1.5px solid rgb(37, 37, 37);
  }
  main.Work .Work-detail__detail-wrap p {
    font-family: "A1 Gothic L";
    font-style: normal;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 180%;
    /* or 22px */
    letter-spacing: 0.04em;
    line-height: 250%;
  }
  main.Work .Work-detail__detail-wrap p.Work-detail__sub-heading {
    font-family: "Shuei MaruGo L";
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 250%;
    /* identical to box height, or 28px */
    letter-spacing: 0.06em;
    font-family: "Shuei MaruGo L";
    font-size: 1.1rem;
    margin-bottom: 0.8rem;
  }
  main.Work .Work-detail__color {
    padding-left: 0rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.8rem;
  }
  main.Work .Work-detail__color p {
    font-family: "A1 Gothic L";
    font-style: normal;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 180%;
    /* or 22px */
    letter-spacing: 0.04em;
  }
  main.Work .Work-detail__color-tip {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: rgb(227, 88, 155);
    margin-right: 1rem;
  }
  main.Work .Work-detail__font {
    padding-left: 3rem;
  }
  main.Work .Work-detail__font p {
    font-family: "A1 Gothic L";
    font-style: normal;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 180%;
    /* or 22px */
    letter-spacing: 0.04em;
    margin-bottom: 0.8rem;
  }
}/*# sourceMappingURL=theme.css.map */